<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Package Distro Search(PDS)</title>
    <script src="/static/js/lib/angularjs/angular.min.js"></script>
    <script src="/static/js/lib/angularjs/angular-route.js"></script>
    <script src="/static/js/lib/jquery.min.js"></script>
    <script src="/static/js/lib/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/static/js/lib/bootstrap/dist/css/bootstrap.css">
    <script src="/static/js/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <link rel="stylesheet" href="/static/js/lib/bootstrap/dist/css/bootstrap-table.css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/faq.css">    
</head>
<body ng-app="pds">
	<div class="page_header">
	    <h3>Package Distro Search (PDS)</h3>
	</div>
    <div ng-view></div>
</body>
<footer>
    <script type="text/javascript" src="/static/js/app.js"></script>
    <link rel="import" href="/static/js/views/disclaimer.html">
    <script>
        function addDisclaimer(main_container, has_data, disclaimer_needs_update){
            if (disclaimer_needs_update === false){
                return;
            }
            // Due to resizing of page delete the disclaimer section and re-create for proper positioning
            try{
                var disclaimer = document.getElementById('disclaimer');
                disclaimer.parentNode.removeChild(disclaimer);
            }catch(e){
                console.log(e);
            }
            try{
                var main_footer_container = document.getElementById("main_footer_container");
                main_footer_container.parentNode.removeChild(main_footer_container);
            }catch(e){
                console.log(e);
            }

            if (main_container == undefined || !has_data){
                var main_container = document.createElement("DIV");
                main_container.setAttribute("id", "main_footer_container");
                document.body.appendChild(main_container);
            }

            $(main_container).load('/static/js/views/disclaimer.html');
        }
        $( document ).ready(function() {
            addDisclaimer();
        });

    </script>
    <script type="text/javascript" src="/static/js/controller/HomeController.js"></script>
    <script type="text/javascript" src="/static/js/controller/FAQController.js"></script>
</footer>
</html>