<section id="disclaimer">
    <div class="container disclaimer no_margin">
        <div class="row">
            <div class="col-sm-10" style="width:100%">
                <div style="float:left;font: 15px arial, sans-serif; font-weight: bold; text-align: center;vertical-align: bottom;">Disclaimer: &nbsp;&nbsp;</div> 
                <div style="float:left;line-height:22px;">
                    The package information is provided AS-IS with no representations whatsoever with respect to accuracy and/or completeness. We reserve the right to change the information at any time and without notice. To obtain the most current package information, please visit the official linux distribution websites.
                </div>
        </div>
    </div>
</section>